.GP-breadcrumb {
  display: flex;
  padding: 25px 10px;
  align-items: center;
  .GP-breadcrumb__separator {
    font-size: 11px;
    margin: 2px 5px 0;
    color: rgb(224, 103, 17);
  }
}

.GP-breadcrumb-item {
  a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    color: #666666;
    transition: all 0.4s;

    &:hover {
      color: #59aa16;
    }
  }
}
